<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="courses" [routerLinkActive]="'ion-tab-button-active'">
      <ion-icon name="bookmarks-outline"></ion-icon>
      Courses
    </ion-tab-button>
    <ion-tab-button tab="wishList">
      <ion-icon name="list-outline"></ion-icon>
      wish
    </ion-tab-button>
    <ion-tab-button tab="cardDetails">
      <ion-icon name="card-outline"></ion-icon>
      card
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
